@import
"foundation/components/grid",
"foundation/components/forms",
"foundation/components/buttons",
"foundation/components/alert-boxes",
"foundation/components/labels",
"foundation/components/inline-lists",
"foundation/components/type",
"foundation/components/tables",
"foundation/components/button-groups",
"foundation/components/top-bar"
;

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?tsycnl');
  src:url('fonts/icomoon.eot?#iefixtsycnl') format('embedded-opentype'),
  url('fonts/icomoon.ttf?tsycnl') format('truetype'),
  url('fonts/icomoon.woff?tsycnl') format('woff'),
  url('fonts/icomoon.svg?tsycnl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete::after{
  content: "\e600";
}

